/* -------------------------------------------------------공통 css */
#wrap main div h1 {
    font-size: 1.25rem; font-weight: 700;
}
#wrap main div h1 em {
    font-weight: 700;
    text-transform: uppercase; /* 영어 대문자 적용 */
}
#wrap main div h1+p {
    font-size: 0.85rem; font-weight: 300;
    line-height: 1.5;
}
#wrap main div .contents .swiper .swiper-wrapper .swiper-slide a {
    font-size: 0.85rem; font-weight: 300;
}
#wrap main div .contents .swiper .swiper-wrapper .swiper-slide h2,
#wrap main div .contents .swiper .swiper-wrapper .swiper-slide a em {
    font-size: 0.85rem; font-weight: 500;
    line-height: 1.5;
}
#wrap main div .contents .swiper .swiper-wrapper .swiper-slide .price {}
#wrap main div .contents .swiper .swiper-wrapper .swiper-slide .price del {
    font-size: 0.85rem; font-weight: 200;
}
#wrap main div .contents .swiper .swiper-wrapper .swiper-slide .price em {
    font-size: 1.0rem; font-weight: 500;
    line-height: 1.5;
}
#wrap main div .contents .tab_contents .swiper-wrapper .swiper-slide .price { /* 탭 가격스타일 */
    font-size: 1.0rem; font-weight: 500;
    line-height: 1.5;
}
#wrap main div .contents .tab_title {
    display: flex; gap: 16px; margin: 30px 0 15px;
}
#wrap main div .contents .tab_title a {
    font-size: 0.95rem; font-weight: 500;
    border-radius: 12px; border: 1px solid #ccc; padding: 10px 25px;
}
#wrap main div .contents .tab_title a.active {
    background: #222; 
    color:#fff;
}
#wrap main div .contents .tab_contents .swiper .swiper-wrapper .swiper-slide {
    position: relative;
}
#wrap main div .contents .tab_contents .swiper .swiper-wrapper .swiper-slide a {}
#wrap main div .contents .tab_contents .swiper .swiper-wrapper .swiper-slide a:first-child {}
#wrap main div .contents .tab_contents .swiper .swiper-wrapper .swiper-slide a img {width: 100%;}
#wrap main div .contents .tab_contents .swiper .swiper-wrapper .swiper-slide a .details {
    position: absolute; left:0; bottom:0; width: 100%;
    background:linear-gradient(transparent rgba(255, 255, 255,0.8) 10%);
    display: flex; flex-flow: column nowrap;
}
#wrap main div .contents .tab_contents .swiper .swiper-wrapper .swiper-slide a .details em {}
#wrap main div .contents .tab_contents .swiper .swiper-wrapper .swiper-slide a .details .price {
    text-align: right;
}
#wrap main div .contents .tab_contents .swiper .swiper-wrapper .swiper-slide a.buy {
    position: absolute; top:10px; right:10px;
    padding: 6px 12px; background-color: #fff; border-radius: 5px;
    font-size: 0.75rem;
}
/* -------------------------------------------------------개별 css */
/* swiper-responsive.css */
#wrap {
    min-width: 320px; /* 아이폰 최소사이즈 */
    display: grid; /* 부모에 그리드 선언 */
    grid-template-areas:
        'header main'
        'footer footer';
}
#wrap header {
    grid-area: header; /* 그리드정렬대상에 그리드 정렬로 사용할 이름붙이기 */
    width: 150px;
}
#wrap main {
    width: calc(100% - 150px);
    min-width: 0; /* 최소 너비값의 제한을 두지 않도록 제한풀기 (자식의 크기가 따라오지 않을 때) */
    grid-area: main;
    padding-left: 25px;
}
#wrap footer {
    grid-area: footer;
    line-height: 200px;
    border-top: 2px solid #aaa;
}
#wrap header, #wrap footer {
    background-color: #222; color: #fff; text-align: center;
}
#wrap main .best_wrap {
    padding: 50px 0;
}
#wrap main .best_wrap h1 {}
#wrap main .best_wrap h1+p {}
#wrap main .best_wrap .contents {
    position: relative;
}
#wrap main .best_wrap .contents .swiper {}
#wrap main .best_wrap .contents .best_swiper {
    max-width: 1200px;
}
#wrap main .best_wrap .contents .next,
#wrap main .best_wrap .contents .prev {
    transform: scale(0.5);
    top:-5%;
}
#wrap main .best_wrap .contents .prev {
    color: #222;
    left: auto; right: 90px;
}
#wrap main .best_wrap .contents .next {
    color: #222;
    left: auto; right: 50px;
}
#wrap main .best_wrap .contents .swiper .swiper-wrapper {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide a {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide a img {width: 100%;}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide h2 {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide .price {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide .price del {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide .price em {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide:nth-child(1) {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide:nth-child(2) {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide:nth-child(3) {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide:nth-child(4) {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide:nth-child(5) {}
#wrap main .best_wrap .contents .swiper .swiper-wrapper .swiper-slide:nth-child(6) {}
#wrap main .season_wrap {}
#wrap main .season_wrap h1 {}
#wrap main .season_wrap h1 em {}
#wrap main .season_wrap h1+p {}
#wrap main .season_wrap .contents {}
#wrap main .season_wrap .contents .tab_title {}
#wrap main .season_wrap .contents .tab_title a {}
#wrap main .season_wrap .contents .tab_title a.active {}
#wrap main .season_wrap .contents .tab_title a.niki {}
#wrap main .season_wrap .contents .tab_title a.convers {}
#wrap main .season_wrap .contents .tab_contents {}
#wrap main .season_wrap .contents .tab_contents .swiper {}
#wrap main .season_wrap .contents .tab_contents .niki_swiper {}
#wrap main .season_wrap .contents .tab_contents .niki_swiper .swiper-wrapper {}
#wrap main .season_wrap .contents .tab_contents .niki_swiper .swiper-wrapper .swiper-slide {}
#wrap main .season_wrap .contents .tab_contents .niki_swiper .swiper-wrapper .swiper-slide a {}
#wrap main .season_wrap .contents .tab_contents .niki_swiper .swiper-wrapper .swiper-slide a:first-child {}
#wrap main .season_wrap .contents .tab_contents .niki_swiper .swiper-wrapper .swiper-slide a img {width: 100%;}
#wrap main .season_wrap .contents .tab_contents .niki_swiper .swiper-wrapper .swiper-slide a .details {}
#wrap main .season_wrap .contents .tab_contents .niki_swiper .swiper-wrapper .swiper-slide a .details em {}
#wrap main .season_wrap .contents .tab_contents .niki_swiper .swiper-wrapper .swiper-slide a .details .price {}
#wrap main .season_wrap .contents .tab_contents .niki_swiper .swiper-wrapper .swiper-slide a.buy {}
#wrap main .season_wrap .contents .tab_contents .convers_swiper {}
#wrap main .season_wrap .contents .tab_contents .convers_swiper .swiper-wrapper {}
#wrap main .season_wrap .contents .tab_contents .convers_swiper .swiper-wrapper .swiper-slide {}
#wrap main .season_wrap .contents .tab_contents .convers_swiper .swiper-wrapper .swiper-slide a {}
#wrap main .season_wrap .contents .tab_contents .convers_swiper .swiper-wrapper .swiper-slide a:first-child {}
#wrap main .season_wrap .contents .tab_contents .convers_swiper .swiper-wrapper .swiper-slide a img {width: 100%;}
#wrap main .season_wrap .contents .tab_contents .convers_swiper .swiper-wrapper .swiper-slide a .details {}
#wrap main .season_wrap .contents .tab_contents .convers_swiper .swiper-wrapper .swiper-slide a .details em {}
#wrap main .season_wrap .contents .tab_contents .convers_swiper .swiper-wrapper .swiper-slide a .details .price {}
#wrap main .season_wrap .contents .tab_contents .convers_swiper .swiper-wrapper .swiper-slide a.buy {}


@media screen and (max-width:767px){
    /* header-main-footer 3행구조로 레이아웃 변경 */
    #wrap {
        grid-template-areas:
        'header'
        'main'
        'footer';
    }
    #wrap header {width: 100%; line-height: 50px;}
    #wrap footer {width: 100%; }
}